a {
	color: #333333;
}

.g-mb10 {
	margin-bottom: 10px;
}

.g-mb50 {
	margin-bottom: 50px;
}

.page {
	width: 800px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
}

.page__title {
	font-family: Arial;
	font-size: 24px;
	color: #000;
	text-transform: uppercase;
}

.page__data-title {
	display: block;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #3c3c3c;
}

.page__data-block {
	background-color: #eee;
	color: #505050;
	padding: 50px;
	margin-top: 50px;
}
